/Users/samuelelanghi/Documents/GitHub/RecommenderSystem18-19/Recommender_Sem/result_experiments/UserKNNCFRecommender_cosine_best_model 
/Users/samuelelanghi/Documents/GitHub/RecommenderSystem18-19/Recommender_Sem/result_experiments/SLIM_BPR_Recommender_best_mode
